@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}
.border{
  border: 1px solid red !important;
}
.myButton{
  border-radius: 8px !important;
  border: 1px solid #888 !important;
  text-transform: capitalize !important;
  padding: 8px 11px !important;
  font-size: 16px !important;
}




/* 
==================
scrollbar
==================
*/

body {
  --sb-track-color: #232e33;
  --sb-thumb-color: #d4d4d8;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
  background: #9e9e9e;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
